@font-face {
    font-family: 'MyFont';
    src: url('./Angelina-rnlA.otf') format('otf');
    font-weight: 600;
    font-style: bold;
  }

.hello {
    color: blue;
    background: url('./facebook.svg');
    font-family: 'MyFont';
    background-repeat: no-repeat;
  }